
.main-wrapper {display:block;}
.mobile-wrapper {display:none;}

@media screen and (max-width: 767px) {
	.main-wrapper {display:none;}
	.mobile-wrapper {display:block;}
}

.main {
	padding-left: 60px;
	padding-right:0px;
}
.sidebar {
	width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #112B3D;
    padding: 8px 0;
    height: 100%;
	text-align: center;
}
.sidebar li {
	margin: 20px 0px;
}
.sidebar li a img {
	width:20px;
	height:20px;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Roman.woff') format('woff2'),
      url('../fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std Book';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std Black';
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


body { font-family: 'Avenir LT Std';   font-weight: normal;  font-style: normal;  font-size: 14px;
  color: #808080;  overflow-x: hidden; background-color: #F5F5F5;}

a {  outline: medium none !important;  color: #28A8E0;  -webkit-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out; }
  a:focus {color: #28A8E0;  text-decoration: none !important; }
  a:hover {color: #28A8E0;  text-decoration: none !important; }

input {outline: medium none !important;  color: #112B3D; }

h1,h2,h3,h4,h5,h6 {    font-weight: normal;  color: #112B3D;
  margin-top: 0px;  font-weight: 600; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a { color: inherit; }

label {  font-weight: normal; }

h1 {  font-size: 42px;  font-style: normal; }

h2 {  font-size: 28px;  line-height: 38px; }

h3 {  font-size: 26px; }

h4 {  font-size: 22px; }

h5 {  font-size: 18px; }

h6 {  font-size: 16px; }

p {  font-weight: normal;  line-height: 1.7; }

*::-moz-selection {  background: #28A8E0;  color: #ffffff;  text-shadow: none; }

::-moz-selection {  background: #28A8E0;  color: #ffffff;  text-shadow: none; }

::selection {  background: #28A8E0;  color: #ffffff;  text-shadow: none; }

.container-fluid {  padding: 0 20px; }

hr {  border-top-color: #eeeeee; }

/* Button */

.btn {  -webkit-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out; }

button {
  outline: medium none !important;
  color: #28A8E0; 
}

.btn {
  font-size: 14px;
  font-weight: normal;
  padding: 9px 10px;
  line-height: 14px;
  border-radius: 3px; 
}
.btn-primary{
  background: #28A8E0 !important;
  border-color: #28A8E0 !important;
}
.btn:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; 
}
.btn:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #ffffff; 
}
.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; 
}
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #ffffff; 
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #ffffff; 
}

.btn i {
  padding-right: 10px; 
}

.btn + .btn {
  margin-left: 3px; 
}

/*  background  */

.blue-bg{
  background-color: #28A8E0 ;
}
.light-bg{
  background-color: #f5f5f5;
}

.react-datetime-picker__wrapper {
	border:0 !important;
}
.react-calendar {
	border:0 !important;
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
}

.header .navbar{
  padding: 8px 0px;
}
header {
    background: #fff;
}


.add-listing a {
  color: #112B3D;
  font-size: 20px;
}
.add-listing .dropdown .dropdown-menu a {
  color: #454545;
  font-size: 14px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  padding: .54rem 1.5rem;
}
.add-listing .dropdown .dropdown-menu a:last-child {
  border-bottom:0px solid rgba(0, 0, 0, 0.1);
}
.add-listing a.language{
  margin-right: 35px;
  padding: 15px;
}
.add-listing a img{
  margin-right: 10px;
  vertical-align: baseline;
}

.add-listing .login{
  display: flex;
  align-items: center;
  padding-right: 20px;
} 
.add-listing .login .dropdown .dropdown-toggle::after{
display: none;
}
.add-listing .login .lang{
  margin-right: 40px;
}

.add-listing .login .language {
  margin-right: 35px;
  display: flex;
}

.add-listing .login .language select{
  border: none;
}
.add-listing .login .language select:focus{
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 400;
}

.add-listing .login .language select#inputState{
  font-size: 20px;
  font-weight: 400;
}

.add-listing .login .btn.language:focus{
  color: #112B3D; 
}

 .header .add-listing .dropdown-menu{
  left: -40px;
  padding:0px;
}

/*Breadcrumb*/
.page-breadcrumb .breadcrumb{
  background-color:inherit;
  padding: 10px 0;
  margin-bottom: 0;
  border-radius: 0;
}

.page-breadcrumb .breadcrumb .breadcrumb-item{
  color: #ffffff;
}

.page-breadcrumb .breadcrumb-item+.breadcrumb-item{
  padding-left: 10px;
}

.page-breadcrumb .breadcrumb-item+.breadcrumb-item::before{
  content: "";
  height: 11px;
  width: 7px;
  background: url(../images/arrow.png);
  margin-right: 10px;
}

/* main content */
.order-container {
	padding: 0 20px;
}
.main-wrapper{
  padding: 15px;
}
.console-list {
	margin-top:20px;
	padding:0 20px;
}
.console-wrapper {
  margin-bottom: 30px;
  flex: 0 0 20%;
  max-width: 20%;
}

.console-box {
  text-align: center;
  background: #fff;
  box-shadow: 3px 3px 10px 0px rgb(0 25 53 / 0.12);
  padding: 25px 10px;
}
.console-icon {
  position: relative;
  z-index: 2;
}
.console-icon .icon-wrapper {
  background: #fff;
  box-shadow: 3px 3px 10px 0px rgb(0 25 53 / 0.12);
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.console-icon .icon-wrapper::before {
  position: absolute;
  content: "";
  right: -12px;
  bottom: -12px;
  height: 28px;
  width: 28px;
  background: #E3F2F9;
  border-radius: 100%;
  z-index: -1;
}
.console-title {
  margin-top: 40px;
}
.console-title h5 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}
.console-box a:hover .console-title h5 {
  color: #02aaec;
}
.tab-menu {
  background: #fff;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left:0px;
}
.tab-menu .nav-link {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #ccc !important;
  border: medium none;
  background-color:transparent !important;
}
.tab-menu.nav-pills .nav-link.active::before,
.tab-menu.nav-pills .show>.nav-link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    bottom: -8px;
    left: 0;
    background: #02aaec;
}
.tab-menu.nav-pills .nav-link.active, .tab-menu.nav-pills .show>.nav-link {
    color: #02aaec;
    background-color: transparent;
    border-radius: 0;
}
.tab-content {
  padding: 0 0px;
  margin-bottom: 30px;
}
.request-content .new-order .btn-primary{
  padding: 14px 20px;
  width: 128px;
  margin-right: 20px;
}
.new-order {
  display: inline-block;
  padding:0 20px;
}
.new-order .form-group {
  position: relative;
  padding: 0 10px;
  flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: 30px;
}
.request-form .form-row {
  margin: 0 -10px !important;
}
.request-form .react-datetime-picker__wrapper{
	border:medium none;
}
.request-form .form-group label {
  position: absolute;
  top: -12px;
  margin: 0;
  left: 15px;
  background: #fff;
  padding: 0 10px;
  z-index: 11;
}
.request-form .datetimepickers .input-group-text {
  background-color: transparent;
}
.request-form .form-control {
  background-color: transparent;
}
.form-group label {
  font-size: 16px;
  color: #112B3D;
  font-weight: bold;
}
.form-control {
  border: 1px solid #cccccc;
  color: #112B3D;
  height: 46px;
  padding: 12px 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px; 
  background-color: #fff;
}
.datetimepickers .input-group-text {
  background-color: #fff;
}
.form-control::placeholder {
  color: #626262;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #cccccc;
  background: transparent; 
}
.new-order {
    display: flex;
    align-items: flex-start;
	margin-top:30px;
}
.request-form {
    width: 100%;
}
.order-btn .btn-primary a {
  color: #fff !important;
}
.card-wrapper {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  background: #fff;
}
.table thead tr th {
    background-color: #28A8E0;
    border: 1px solid #28A8E0;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}
.table th, .table td {
  border: none;
}
.table-wrapper .table tr td {
  padding: 9px 12px;
  vertical-align: middle;
}
.table {
    width: 100%;
    margin-bottom: 30px;
    color: #112B3D;
    border: 1px solid #e4e4e4;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #F9FBFC;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.status-btn {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;;
  border-radius: 50px;
  padding: 5px 15px;
}
.status-btn:hover {
  color: #fff;
}
.green-bg {
  background: #0AAE1A;
  border: 1px solid #0AAE1A;
}
.red-bg {
  background: #f92108;
  border: 1px solid #f92108;
}
.btn-default {
  text-align: center;
  display: inline-block;
  color: #454545;
  padding: 8px 15px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
.btn.btn-default:focus, .btn.btn-default:active {
    color: #454545 !important;
}
.pagination-wrapper .page-link {
    padding: 2px 4px;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    margin: 0 2px;
    color: #112B3D;
}
.pagination-wrapper .page-item.active .page-link {
    background-color: #28a8e0;
    border-color: #28a8e0;
}
.pagination-wrapper .page-link:hover {
  color: #02AAEC;
}
.pagination-wrapper {
  display: flex;
}
.pagination-wrapper .pagination {
    background: #fff;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.06);
    padding: 8px 15px;
    margin: 0;
}
.pagination-wrapper .page-item:last-child .page-link {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.pagination-wrapper .page-item:first-child .page-link {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.pagination-wrapper .page-link:focus {
  box-shadow: none !important;
}


.tab-style-2 .tab-pills-menu {
    background: #112B3D;
    padding: 22px 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.tab-style-2 .nav-pills .nav-link {
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 12px;
    color: #fff;
    margin: 0 20px;
	border:medium none;
}
.tab-style-2 .nav-pills .nav-item:first-child .nav-link {
    margin-left: 0;
}
.tab-style-2 .nav-pills .nav-link.active, .tab-style-2 .nav-pills .show>.nav-link {
  background-color: #02AAEC;
  position:relative;
}
.tab-style-2 .nav-pills .nav-link.active:before, .tab-style-2 .nav-pills .show>.nav-link:before {
	content:'';
	position:absolute;
	top:0;
	right:-21px;
	border-top:22px solid transparent;
	border-left:22px solid #02AAEC;
	border-bottom:22px solid transparent;
}
.search-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.search-group {
    position: relative;
}
.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.search-form .form-control {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    border-radius: 3px;
}
.search-form select.form-control {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  min-width: 120px;
}
.search-form .search-group .form-control {
  min-width: 360px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

/**** create new order **/
.section-main-title {
  font-size: 26px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
} 
.new-order-list-wrapper {
    display: flex;
    align-items: center;
    margin: 70px -30px 0;
}
.order-list {
  width: 25%;
  flex: 0 0 25%;
  padding: 0 30px;
}
.order-list a {
    display: block;
    padding: 35px 20px;
    text-align: center;
    background: #28A8E0;
}
.order-list a:hover {
    background: #112b3d;
}
.order-list a h5 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0;
}
.order-list a.active, .order-list a:hover {
  background-color: #112B3D;
}
.tab-style-2 .tab-content {
  margin-top: 0px;
  padding:0px;
}
.tab-footer {
    background: #fff;
    margin: 0 -30px -30px;
    padding: 28px 30px;
    box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: flex-end;
}
.tab-footer .btn-group .btn {
    font-size: 16px;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    border-width: 2px;
}
.btn-primary-border {
  border: 3px solid #28A8E0;
  border-radius: 3px;
  color: #28A8E0;
}
.btn-primary-border:hover, .btn-primary-border:focus, .btn-primary-border:active {
  color: #28A8E0 !important;
}
.tab-form .form-group {
    margin-bottom: 30px;
}
form .required {
  color: #f00;
  margin-left: 5px;
}
form.tuginfo-form {
    margin-bottom: 30px;
}
.btn-remove {
    background: red;
    color: #fff;
    padding: 10px;
    height: 40px;
    width: 40px;
}
.btn-add {
  color: #fff !important;
  padding: 12px 15px;
  display: flex;
  align-items: center;
}
.deployment-table .table {
  border: none;
}
.deployment-table .table thead tr th {
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  color: #112B3D;
  font-size: 16px;
  font-weight: 600;
}

.deployment-table .table-striped tbody tr:nth-of-type(even) {
  background-color: transparent;
}
.new-order-mobile {
  display: none;
}
.tab-content>.tab-pane {
	padding:0px;
}

/*** datepicker ***/

.form-control.datetimepicker-input {
  border-right: none
}
.datetimepickers .input-group-text {
  border-left: none;
}

.datetimepickers .input-group-text{
  color: #28A8E0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-left: none;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover{
  background-color:#02aaeb !important;
}

.bootstrap-datetimepicker-widget table th {
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  color: #28A8E0;

}
.datetimepickers .table thead tr th {
    background-color: #fff;
    border: 1px solid #fff;
    color: #28A8E0 !important;
    font-weight: 500;
}

.datetimepickers .table {
  border: none;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 30px;
  line-height: 30px;
  width: 40px;
  font-size: 14px;
}

.bootstrap-datetimepicker-widget table td span.active {
  background: #02aaeb !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 19rem;
}

/*****************************
      tablet table
******************************/
.desktop-table {
  display: block;
}
.tablet-table {
  display: none;
}
.table-data-header {
  background: #28A8E0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
}
.table-data-header span {
    font-size: 16px;
}
.table-data-body {
    padding: 30px 15px 20px;
}
.data-title h6 {
    font-size: 14px;
    color: #63748B;
    font-weight: normal;
}
.data-wrapper h5 {
  font-size: 14px;
  color: #112B3D;
  font-weight: 500;
}
.data-col {
    margin-bottom: 12px;
}
.table-data-body {
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    background-color: #fff;
}

.load-more-btn {
  margin-top: 30px;
}
.load-more-btn .btn {
  padding: 12px 15px;
  font-size: 16px;
}
.returns-mobile {
  display: none;
}
#pills-tabContent1 header {
    display: none;
}
.breadcrumbs {
    display: none;
}


/**** login form ***/
.login-wrapper {
  margin: 50px 0;
}
.login-wrapper .navbar-brand {
  margin-bottom: 20px
}
.login-intro h2 {
  margin-bottom: 10px;
}
.login-intro {
  margin-bottom: 80px;
}
.login-icon {
  background: #fff;
  box-shadow: 0 -12px 12px rgba(0,0,0,0.02);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translateX(-50%);
}
.login-form {
  max-width: 450px;
  widows: 100%;
  margin: 0 auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.16);
  padding: 30px;
  position: relative;
}
.login-form form {
  margin-top: 30px;
}
.login-btn .btn {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
}
.login-form .input-field {
  position: relative;
}
.login-form .input-field img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.login-form .input-field input {
    padding-left: 40px;
}

/*** launch order ***/ 

.tab-form-wrapper {
  padding: 30px 30px 0;
  border: 1px solid #ccc;
}
.manifest-wrapper {
    border: 1px solid #ccc;
    padding: 40px 30px 0;
    margin-bottom: 30px;
    position: relative;
}
.manifest-form-wrapper {
  margin-bottom: 30px;
}
.remove-panel {
  position: absolute;
  top: 20px;
  right: 30px;
}
.remove-panel a {
  color: #f00;
}

.accordion {
	margin:0;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    /*background-image: url('../images/minus-icon.svg'); */
    content: "";
    width: 16px;
    height: 16px;
	position:absolute;
	top:25px;
	right:25px;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels 
    background: url('../images/plus-icon.svg');*/
    content: "";
    width: 16px;
    height: 16px;
	position:absolute;
	top:25px;
	right:25px;
}
.accordion .card-header {
  background: #02AAEC !important;
  color: #fff !important;
}
.accordion .card-header.collapsed {
  background: #fff !important;
  color: #112B3D !important;
}
.accordion {
  margin: 0 -15px 20px;
}
.accordion>.card {
  border: none;
  padding: 0 15px;
  margin-bottom:15px;
}
.accordion>.card .card-header {
  margin-bottom: 0px;
  border: none;
  background: #fff;
  padding:0;
}
.accordion>.card .card-header:hover {
  cursor: pointer;
}
.accordion>.card .card-header a {
  font-size: 16px;
}

.passenger-btn .btn {
  padding: 14px;
  font-size: 16px;
}
.passenger-btn .btn.btn-default {
  background: #e8e8e8;
  border-color: #e8e8e8
}
.form-data {
    margin-bottom: 12px;
}
.form-data label {
    font-weight: bold;
    color: #112B3D;
}

.mobile-wrapper {
  margin-top: 10px;
  /* display: none; */
  position: relative;
}
.mobile-wrapper-inner {
  position: fixed;
  top: 80px;
  background: #f5f5f5;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.mobile-btn-wrapper {
  margin-top: 20px;
}
.from-control-btn {
  border: 1px solid #cccccc;
  color: #112B3D;
  height: 46px;
  padding: 12px 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  background-color: #fff;
}
.from-control-btn a {
  color: #112B3D;
}
.form-wrapper {
  margin: 30px 0;
}
.mobile-btn-wrapper .next-btn {
  display: inline-block;
}
.mobile-btn-wrapper .next-btn .btn {
  font-size: 16px;
  padding: 12px 14px;
  display: flex;
  min-width: 90px;
  justify-content: center;
  height: 42px;
  align-items: center;
}
.order-value {
  display: flex;
  margin-bottom: 10px;
}
.order-value span {
  color: #112B3D;
}

.order-value .label-name {
  width: 25%;
}

.order-value .label-value {
  text-transform: uppercase;
}
.payment-sucess img {
  margin-bottom: 20px;
}
.barcode-img {
  margin: 30px 0 10px;
}
.mobile-header {
  padding: 5px 0 15px;
}
.navbar-brand {
  padding: 0;
  margin: 0 auto 0;
}
.mobile-header {
  display: none;
}
.header-wrapper img {
  margin-top: 12px;
}
.header-wrapper .navbar-brand img {
  margin-top: 0;
}

.dropdown {
	margin-top:5px;
} 
.dropdown .nav-link {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #fff !important;
    border: medium none;
    background-color: #28A8E0 !important;
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    text-align: center;
    border-radius: 50px;
}

.dropdown-toggle::after {
	display:none;
}
.mobile-wrapper .nav-tabs {
	display:none;
}

@media (max-width: 1199px) {
  .tab-style-2 .nav-pills .nav-link {
    margin: 0 10px;
  }
}

@media (max-width: 1100px) {
  .order-list {
    padding: 0 15px;
  }
  .new-order-list-wrapper {
    margin: 70px -15px 0;
  }
  .tab-style-2 .nav-pills .nav-link {
    margin: 0 10px;
  }
  .tab-style-2 .tab-pills-menu {
    padding: 22px 17px;
  }

  .console-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .console-title h5 {
    font-size: 16px;  
  }
  .console-icon .icon-wrapper {
    width: 100px;
    height: 100px;
  }
  .console-icon .icon-wrapper img {
    width: 50px;
  }
  .request-content .new-order .btn-primary {
    padding: 14px 10px;
    width: 108px;
    margin-right: 10px;
  }
  .request-form .form-row {
    margin: 0 -5px !important;
  }
  .form-control {
    padding: 12px;
  }
  .new-order .form-group {
    padding: 0 5px;
  }
  .desktop-table {
    display: none;
  }
  .tablet-table {
    display: block;
  }
  .pagination-wrapper .pagination {
    display: none;
  }
  .movment-tablets-table .load-more-btn {
    margin-bottom: 30px;
  } 
}

@media (max-width: 991px) {

  .header .navbar-expand-lg>.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
  }
  .order-list a h5 {
    font-size: 20px;
  }
  .order-list a {
    padding: 35px 15px;
  }
  .main-wrapper {
    padding: 30px 15px;
  }
  .tab-style-2 .tab-pills-menu {
    padding: 18px 5px;
  }
  .tab-style-2 .nav-pills .nav-link {
    font-size: 14px;
    padding: 10px 7px;
  }
  .console-wrapper {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .card-wrapper {
    padding: 15px 15px;
  }
  .tab-content {
    padding: 0 0px;
  }
  .console-title {
    margin-top: 30px;
  }
  .tab-menu ul {
    margin-bottom: 0px;
  }
  .new-order {
    flex-wrap: wrap;
  }
  .request-form .form-group label {
    font-size: 14px;
  }
  .request-form .form-control {
    padding: 12px 10px;
  }
  .request-form {
    margin-top: 30px;
  }
  .tab-footer {
    margin: 0 -15px -30px;
  }
 .tab-style-2 .nav-pills .nav-link.active:before, .tab-style-2 .nav-pills .show>.nav-link:before {
	 right: -19px;
    border-top: 20px solid transparent;
    border-left: 20px solid #02AAEC;
    border-bottom: 20px solid transparent;
}


 }
}

@media (max-width: 767px) {
	

 .order-list {
    width: 50%;
    flex: 0 0 50%;
    margin-bottom: 30px;
  }
  .new-order-list-wrapper {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .btn-remove {
    margin-bottom: 30px;
  }
  .console-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .tab-content {
    padding: 0 15px;
  }
  .add-listing .login {
    padding-right: 0;
  }
  .add-listing .login .lang {
    margin-right: 20px;
  }
  .tab-style-2 .tab-pills-menu {
    display: block;
  }
  .form-group label {
    font-size: 14px;
  }
  .tab-form .form-group {
    margin-bottom: 20px;
  }
  .header .add-listing .dropdown-menu {
    left: inherit;
    right: 0;
  }
  .data-col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .data-title h6 {
    font-size: 12px;
  }
  .data-wrapper h5 {
    font-size: 12px;
  }
  .btn-default {
    padding: 8px;
    font-size: 12px;
  }
  .status-btn {
    font-size: 12px;
  }
  .data-col {
    margin-bottom: 8px;
  }
  .table-data-body {
    padding: 15px 15px 10px;
  }
  .load-more-btn .btn {
    padding: 9px 12px;
    font-size: 14px;
  }
  .search-form {
    display: block;
  }
  .search-form .form-row {
    flex-wrap: nowrap;
  }
  .search-form .form-group.search-by {
    width: auto;
  }
  .search-form select.form-control {
    min-width: 140px;
  }
  .search-form .form-group {
    width: 100%;
  }
  .search-form .search-group .form-control {
    min-width: 100%;
  }
  .tab-style-2 .tab-pills-menu {
    background-color: transparent;
  }
  .tab-style-2 .nav-pills .nav-link {
    background: #112B3D;
    margin-bottom: 15px;
    text-align: center;
  }
  .tab-style-2 .tab-pills-menu {
    padding: 0 0 15px;
  }
  .new-order .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form-control {
    height: 44px;
  }
  .request-form {
    margin-top: 0px;
  }
  .request-form .form-control {
    padding: 12px;
  }
  .movment-tablets-table .load-more-btn {
    margin-bottom: 0;
  }
  
  
  /*** new order ***/
  .new-order-mobile {
    display: block;
    margin-bottom: 20px;
  }
  .new-order {
    display: none;
  }
  .new-order-mobile .order-wrapper form {
    width: 100%;
  }
  .new-order-mobile .new-order-btn a {
    display: inline-block;
    width: 44px;
    height: 44px;
  }
  .new-order-mobile .search-group .form-control {
    background: #fff;
  }
   .new-order-mobile .order-form {
    background-color: #fff;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
  }
  .new-order-mobile .request-form form {
    padding: 20px 15px;
  }
  .new-order-mobile .request-form .form-row {
    display: block;
    margin: 0 !important;
  }
  .new-order-mobile .request-form .form-group label {
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    padding: 0;
    margin-bottom: 5px;
  } 
  .search-header {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    padding: 12px 15px;
  } 
  .search-header a {
    color: #112B3D;
    font-weight: 600;
  }
  .apply-btn {
    bottom: 20px;
    display: block;
    width: 100%;
    right: 0;
    left: 0;
    position: absolute;
    padding: 0 15px;
  }
  .apply-btn a {
    width: 100%;
    color: #fff !important;
    display: block;
    padding: 12px;
  }

  /*** tablist ***/
  .returns-desktop {
    display: none;
  }
  .returns-mobile {
    display: block;
  }
  .tab-btn-list {
    list-style-type: none;
    padding: 0;
  }
  .tab-btn-list .nav-link {
    border-radius: 3px;
    background: #112B3D;
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff !important;
    text-align: center;
    padding: 10px 15px;
  } 
  .tab-btn-list li.active a {
    background-color: #28A8E0;
  } 
  .towage-table {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    overflow-y: auto;
  }

  /*** breadcrumbs ***/
  .breadcrumbs {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .breadcrumbs li a {
    display: inline-block;
  }
  .breadcrumbs li {
    font-size: 16px;
  }
  .back-arrow {
    margin-bottom: 4px;
    margin-right: 10px;
  }
  .breadcrumbs li {
    font-size: 16px;
    color: #28a8e0;
  }
  /* #pills-tabContent1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    display: none;
    margin: 0;
    bottom: 0;
    background-color: #f5f5f5;
  }
  #pills-tabContent1 .card-wrapper {
    box-shadow: none;
  }
  .card-wrapper {
    padding: 30px 15px;
    background-color: #F5F5F5;
  }
  
  #pills-tabContent1 .tab-form {
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 0;
  }
  .tab-footer {
    display: none;
  }
  #pills-tabContent1 header {
    display: block;
  } */
  .tab-form-wrapper {
    padding-bottom: 0;
  }
  
  .navbar-desktop {
    display: none;
  }
  

  /******** launch ordder ********/

  .desktop-launch-order {
    display: none;
  }
  .mobile-wrapper {
    display: block;
  }
  .mobile-manifest, .mobile-passenger-details, .mobile-cargo-details, .mobile-order-cinfirm, .mobile-payment-details, .mobile-payment-status {
    display: none;
  }
}

@media (max-width: 767px) {
	.mobile-header {
    display: block;
  }
  .navbar-desktop {
	  display:none;
  }
  .mobile-wrapper .container , .mobile-header .container{
	  max-width:100%;
  }
  .mobile-wrapper-inner {
	  position:relative;
	  top:0;
  }
  .sidebar {
	  left:-60px;
  }
  .main {
	  padding-left:0px
  }
  .hmenu .sidebar {
	 left:0px;
  }
  .hmenu .main {
	 padding-left:60px;
  }
  .mobile-manifest ul {
	  display: flex;
	  list-style:none;
	  align-items:center;
	  padding:0;
  }
  .mobile-manifest ul li {
	  margin-right:15px;
  }
  .request-form {
	  display:none;
  }
  .new-order {
	  margin-bottom:0px;
  }
.table-data-details {
	padding:0 20px;
}
}

@media (max-width: 575px) {

  .header .navbar-expand-lg>.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-fluid {
    padding: 0 15px;
  }
  .navbar-brand .img-fluid {
    max-width: 160px;
    width: 100%;
  }
  .header .add-listing {
    margin-top: 5px;
  }
  .order-list {
    width: 100%;
    flex: 0 0 100%;
  }
  .order-list a {
    padding: 15px;
  }
  .order-list a {
    padding: 15px 15px;
  }
  .console-icon .icon-wrapper {
    width: 70px;
    height: 70px;
  }
  .console-icon .icon-wrapper img {
    width: 40px;
  }
  .console-title h5 {
    font-size: 14px;
  }
  .console-title {
    margin-top: 20px;
  }
  .card-wrapper {
    padding: 30px 15px;
  }
  .search-form .search-group .form-control {
    min-width: 300px;
  }
  .tab-footer {
    margin: 0 -15px -30px;
  }
  .section-main-title {
    font-size: 24px;
  }


 
}

@media (max-width: 479px) {

  .add-listing a img {
    margin-right: 8px;
  }
  .navbar-brand .img-fluid {
    max-width: 140px;
  }
  .add-listing a {
    font-size: 18px;
  }
  .data-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .search-form select.form-control {
    min-width: 110px;
  }
  .search-form .search-group .form-control {
    min-width: 190px;
  }
  .deployment-table .table thead tr th {
    font-size: 14px;
  }
  .deployment-table.table-wrapper .table tr td, 
  .deployment-table.table-wrapper .table tr th {
    padding: 9px 6px;
  }
  .deployment-table .search-group .form-control {
    padding: 10px;
  }
  .manifest-wrapper {
    padding: 25px 15px 0;
  }
  .remove-panel {
    top: 10px;
    right: 15px;
  }
}
@media (max-width: 360px) {
  .console-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .navbar-brand .img-fluid {
    max-width: 120px;
  }
  .add-listing .login .lang {
    margin-right: 15px;
  }
  .navbar-brand {
    padding-top: 0;
  }
  .search-form .search-group .form-control {
    min-width: 140px;
  }
  .tab-menu ul .nav-link {
    font-size: 16px;
    padding: 8px 12px;
  }
}